// Card
.title {
    font-size: 2.6rem;
}

.btn {
    font-size: 2.2rem;
}

/* Floating add button */
.btn-floating {
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    background: transparent;
    border: none;
    & img {
        width: 60px;
        height: 60px;
    }
}

.btn-floating:hover {
    background: transparent;
}

.btn-floating:focus,
.btn-floating:active {
    outline: none;
    background: transparent;
    border: none;
    box-shadow: none;
}

.content {
    font-size: 1.6rem;
}
